.main {
    
    margin-top:100px!important;
    margin:auto;
    width: 25%;
}

.titrebloc {
    font-size: 1.75rem;
    text-align: center;
    color:#56A632;
}

.titrebloc2 {
    font-size: 1.2rem!important;
    text-align: center;
    color: black;
}

.texte {
    text-align: center!important;
}