<div>
<form style="margin:auto;width: 25%;">
     <!-- Login -->
     <div class="form-outline mb-4">
        <input type="text" id="form3Example0" class="form-control" />
        <label class="form-label" for="form3Example3">Login</label>
      </div>
    
    <!-- Prénom + Nom -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form3Example1" class="form-control" />
          <label class="form-check-label" for="form3Example1">Prénom</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form3Example2" class="form-control" />
          <label class="form-label" for="form3Example2">Nom</label>
        </div>
      </div>
    </div>
  
    <!-- Email -->
    <div class="form-outline mb-4">
      <input type="email" id="form3Example3" class="form-control" />
      <label class="form-label" for="form3Example3">Adresse email</label>
    </div>
  
    <!-- Mot de passe -->
    <div class="form-outline mb-4">
      <input type="password" id="form3Example4" class="form-control" />
      <label class="form-label" for="form3Example4">Mot de passe</label>
    </div>
  
    <!-- Bouton valider -->
    <button type="submit" class="btn btn-primary btn-block mb-4" style="width: 50%">Confirmer</button>

  </form>
</div>