<div>
<form style="margin:auto;width: 25%;" #fConnect="ngForm" (ngSubmit)="inscription(fConnect.value)">
     <!-- Login -->
     <div class="form-outline mb-4">
        <input name="login" type="text" class="form-control" ngModel="">
        <label class="form-label" for="form3Example3">Login</label>
      </div>
    
    <!-- Prénom + Nom -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input name="prenom" type="text" class="form-control" ngModel="">
          <label class="form-check-label" for="form3Example1">Prénom</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input name="nom" type="text" class="form-control" ngModel="">
          <label class="form-label" for="form3Example2">Nom</label>
        </div>
      </div>
    </div>
    
    <!-- Mot de passe -->
    <div class="form-outline mb-4">
      <input name="mdp" type="password" class="form-control" ngModel="">
      <label class="form-label" for="form3Example4">Mot de passe</label>
    </div>
  
    <!-- Bouton valider -->
    <button type="submit" class="button1" style="width: 50%">Confirmer</button>

  </form>
</div>