
    




<div class="container">
    <div class="row" >
        
          <div class="col-sm-6">
              
         
        <div class="card p-3 my-shadow" style="text-align: center;margin-top:50px;height: 500px;">
            <div style="margin: 30px;"><h2> Profil</h2></div>  
        <div class=row>     
        <div class="col-sm-6">
            <strong>PRENOM</strong>
            <div>{{prenom}}</div>
            <br>
            <strong>NOM</strong>
            <div>{{nom}}</div>
            <br>
            <strong>LOGIN</strong>
            <div>{{login}}</div>
            <br>
        </div>
        <div class="col-sm-6">
            <STRong>RUE</STRong>
            <div>{{rue}}</div>
            <br>
            <strong>CODE POSTAL</strong>
            <div>{{cp}}</div>
            <br>
            <strong>VILLE</strong>
            <div>{{ville}}</div>
            <br>
        </div>
    </div>
            <button routerLink="/modifuser" class="button1" style="margin: 50px !important;">Modifier mon profil</button>
        </div>
    </div>  
   
    <div class="col-sm-6">
        
   
        <div class="card p-3 my-shadow" style="text-align: center;height: 500px;
        margin-top:50px;">
        <div style="margin: 20%;">
        <img src="assets/images/logo2.png" width="70" height="70" alt="">
            <div><h2 > SCORE</h2></div>
            <div><h3>{{score}} points</h3></div>
            <div>Vous êtes au niveau {{statut}} !</div>
        </div>
        </div>
        
    </div>
    </div>
    <div style="text-align: center;color: #56A632;margin-top: 20px;">
        <strong><h2>Mes niveaux</h2></strong><hr>
    </div>

    <div class="row" style="margin: 50px;">
     <div class="col-sm-1">
         
     </div>
            <div class="col-sm-2" style="text-align: center;">
                <img src="assets/images/cactus.png" width="50" height="50" alt="">
                <p>Petit cactus</p>
            </div>
            <div class="col-sm-2" style="text-align: center;">
                <div *ngIf="this.user.statut=='intermédiaire'||this.user.statut=='avancé'||this.user.statut=='expert'||this.user.statut=='maitre'">
                    <img src="assets/images/tulipe.png" width="50" height="50" alt="">
                    <p>Tulipe printanière</p>
                </div>               
                <div *ngIf="this.user.statut=='débutant'">
                    <img src="assets/images/tulipenoir.png" width="50" height="50" alt="">
                    <p>Tulipe prinatnière</p>
                </div>
            </div>
            <div class="col-sm-2" style="text-align: center;">
                <div *ngIf="this.user.statut=='avancé'||this.user.statut=='expert'||this.user.statut=='maitre'">
                    <img src="assets/images/rose.png" width="50" height="50" alt="">
                    <p>Buisson ardent</p>
                </div>               
                <div *ngIf="this.user.statut=='intermédiaire'||this.user.statut=='débutant'">
                    <img src="assets/images/rosenoir.png" width="50" height="50" alt="">
                    <p>Buisson ardent</p>
                </div>
                
            </div>
            <div class="col-sm-2" style="text-align: center;">
                <div *ngIf="this.user.statut=='expert'||this.user.statut=='maitre'">
                    <img src="assets/images/chene.png" width="50" height="50" alt="">
                    <p>Grand chêne</p>
                </div>               
                <div *ngIf="this.user.statut=='avancé'||this.user.statut=='intermédiaire'||this.user.statut=='débutant'">
                    <img src="assets/images/chenenoir.png" width="50" height="50" alt="">
                    <p>Grand chêne</p>
                </div>
            </div>
            <div class="col-sm-2" style="text-align: center;">
                <div *ngIf="this.user.statut=='maitre'">
                    <img src="assets/images/olivier.png" width="50" height="50" alt="">
                    <p>Olivier centenaire</p>
                </div>               
                <div *ngIf="this.user.statut=='expert'||this.user.statut=='avancé'||this.user.statut=='intermédiaire'||this.user.statut=='débutant'">
                    <img src="assets/images/oliviernoir.png" width="50" height="50" alt="">
                    <p>Olivier centenaire</p>
                </div>
            </div>
            <div class="col-sm-1">
                
            </div>
        </div>
 
    </div>


   

