<div class="container">
    <div style="margin:auto;width: 50%;">
        <div class="card p-4 my-shadow">
        <div><h1 class="text-secondary">Nouveau message</h1></div>
        <form #fConnect="ngForm" (ngSubmit)="nvMsg(fConnect.value)">
            <div class="form-group">
                <label class="grey-text">Message</label>
                <textarea type="text" class="form-control" name="message" ngModel="" style="height:100px"></textarea>

            </div>
            
            <button class="btn btn-secondary btn-block" type="submit" style="margin: auto;">Envoyer</button>
           
            <p style="color:red;text-align:center">{{notification}}</p>
        </form>
    </div>
    </div>
</div>
