<div class="container">
    <div style="margin:auto;width: 50%;">
        <div class="card p-4 my-shadow">
            <div>
                <h1 class="text-secondary">Nouveau message</h1>
            </div>
            <form #fConnect="ngForm" (ngSubmit)="findUser(fConnect.value)">
                <div class="form-group">
                    <label class="grey-text">Prenom du destinataire</label>
                    <input type="text" class="form-control" name="prenom" ngModel="">

                    <label class="grey-text">Nom du destinataire</label>
                    <input type="text" class="form-control" name="nom" ngModel="">

                </div>

                <button class="button1" type="submit" style="margin: auto;width:auto">Chercher l'utilisateur</button>

                <p style="color:red;text-align:center">{{notification}}</p>
            </form>
            <form #fConnect="ngForm" (ngSubmit)="nvMsg(fConnect.value)" *ngIf="autoriser">
                <div class="form-group">
                    <label class="grey-text">Message</label>
                    <textarea type="text" class="form-control" name="message" ngModel=""
                        style="height:100px"></textarea>

                </div>

                <button class="button1" type="submit" style="margin: auto;width:auto">Envoyer</button>

            </form>
        </div>
    </div>
</div>