.main {
    position:absolute;
    top: 62px;
    margin-left: 250px !important;
    width:-webkit-fill-available;
    height:100% !important;
}

.blocnoir {
    height:250px!important;
    background-color:black;
}

.imagetitre {
    background-image: linear-gradient(90deg, rgba(12, 54, 29, 0.9), rgba(12, 54, 29, 0.2)), url('../../assets/images/jardin.jfif');
    height:-webkit-fill-available;
    filter:brightness(80%)
}

.titrepage {
    position:relative;
    bottom: 170px;
    color:white;
    padding-left: 32px;
}

h1 {
    font-weight: 700;
    font-size: 4rem;
}

.p-2 {
    width:90% !important;
    margin:0 auto !important; 
    background-color:rgb(255, 255, 255);
    padding: 32px!important;
}

.titrebloc {
    font-size: 1.75rem;
    text-align: center;
    color:#56A632;
}

