<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel="stylesheet" href="/styles.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
    integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
    crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<nav class="navbar navbar-expand-lg navbar-light navbar-default" style="height:50px"></nav>
<nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-default">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo2.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <div style="color: white;">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item">
                <a class="nav-link" routerLink='accueil' routerLinkActive='m-active'>ACCUEIL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='documentation' routerLinkActive='m-active'>DOCUMENTATION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='annonce' routerLinkActive='m-active'>ANNONCES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='evenement' routerLinkActive='m-active'>EVENEMENTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='communaute' routerLinkActive='m-active'>COMMUNAUTE</a>
            </li>
        </ul>
        </div>
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" role="button">
                    <img src="assets/images/profil.png" width="30" height="30">
                </a>
            
                <div class="dropdown-menu ">
                    <a class="dropdown-item" href="profil">Profil</a>
                    <a class="dropdown-item" href="msg_envoyes">Messages envoyés</a>
                    <a class="dropdown-item" href="msg_recus">Messages reçus</a>
                    <a class="dropdown-item" href="nv_msg">Nouveau message</a>
                    <a class="dropdown-item" href="publications">Mes publications</a>
                    <a class="dropdown-item" href="#" (click)="connexion.deconnexion()">Deconnexion</a>
                </div>
            </li>
        </ul>
    </div>

    </nav>

