<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
 
    </mat-card-header>
    <mat-card-content>
        <img src="assets/images/logo2.png" width="50" height="50" alt="">
        <p style="text-align:center ;">
        
        Vous n'avez pas encore le niveau nécessaire pour créer des événements. <br>
        Il vous faut atteindre le niveau grand chêne ! Plus que {{diff}} points avant ce niveau.
        </p>
        
    </mat-card-content>
    <div>
    <mat-card-actions>
        <button mat-button (click)="fermeture()" class="button1" style="left: 40%;">Ok!</button>
    </mat-card-actions>
</div>
</mat-card>
