<app-navdoc></app-navdoc>
<div class="main">
    <div class="blocnoir">
        <div class="imagetitre"></div>
        <div class="titrepage">
            <h1>Toutes les plantes</h1>
            <p>Toutes les plantes du site sont ici. <br>Vous ne trouvez pas celle qu'il vous faut ? N'hésitez pas à la
                rajouter grâce au bouton ci-dessous.
            </p>
            <button (click)="goCreer()" class="bouton" type="button">Ajouter une nouvelle plante</button>
            <p style="color:red;text-align:center">{{msg}}</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" *ngFor='let p of plantes'>
                <div class="card p-2 my-shadow">
                    <h4 class="titrebloc">{{p.espece|titlecase}}</h4><hr>
                    <div class="case">
                        <p>{{p.description}}</p>
                    </div>
                    <button routerLink="/afficher_plante" class="button1" (click)="stock(p)">Voir plus</button>

                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button (click)="goCreer()" class="button1" type="button">Ajouter une nouvelle plante</button>
                <p style="color:red;text-align:center">{{msg}}</p>
            </div>
        </div>
    </div>
</div>