<div class="container">
    <div class="row">
        <div class="col-sm-4" *ngFor='let p of plantes'>
            <div class="card p-2 myshadow">
                <p class="text-secondary">Espèce : {{p.espece}}</p>
                <div>
                    <p>{{p.description}}</p>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="row">
        <button routerLink="/nouvellePlante" class="btn btn-secondary btn block" type="button">Ajouter une nouvelle plante</button>
    </div> 
</div>
