<app-navdoc></app-navdoc>
<div class="main">
    <div class="container" style="margin-top:50px !important; margin-bottom: 50px !important;">
        <div class="row">
            <div class="col-sm-4" *ngFor='let p of plantes'>
                <div class="card p-2 my-shadow"
                    style="border-radius:25px;border:solid 5px #D38B5D; padding:0px !important;">
                    <div style="border-top-right-radius:25px;border-top-left-radius:25px;color:white;font-style: italic; background-color: #D38B5D;text-align: center;">
                        <h4> {{p.espece|titlecase}}</h4>
                    </div>
                    <div class="case">
                        <p>{{p.description}}</p>
                    </div>
                    <button routerLink="/afficher_plante" class="button1" (click)="stock(p)">Voir plus</button>

                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button routerLink="/nouvellePlante" class="button1" type="button">Ajouter une nouvelle plante</button>
            </div>
        </div>
    </div>
</div>