<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> Annonce {{a.idAnnonce}} - {{a.plante.prix}}pts/pièce - {{a.stock}}pièces </mat-card-title>
 
    </mat-card-header>
    <mat-card-content>
        <p>
            {{a.plante.categorie}} - {{a.plante.sousCategorie}} - {{a.type}}
        </p>
        <p>{{a.createur.prenom}} {{a.createur.nom}}</p>
        <p>{{a.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="validation()">Participer</button>
        
    </mat-card-actions>
</mat-card>
