
<body>
    <div class="col-sm-5" style="  justify-content: center">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button routerLink="/formulaireAnnonce" class="button1" type="button" style="margin-top: 150px">PROPOSER
                    UN DON</button>
            </div>
        </div>

        <form>
            <div class=" justify-content: center" style="margin-top: 25px">
                <div style="width: 100%;">

                    <form>
                        <div class="form-group buttonChoix">
                            <a class=dropdown-toggle data-toggle=dropdown href=#>Catégorie<span class=caret></span></a>
                            <ul class=dropdown-menu>
                                <li><a href=#>Fruits/légumes</a></li>
                                <li><a href=#>Arbres</a></li>
                                <li><a href=#>Techniques générales</a></li>
                                <li><a href=#>Fleurs</a></li>
                            </ul>
                        </div>
                        <div class="form-group buttonChoix">
                            <a class=dropdown-toggle data-toggle=dropdown href=#>Sous-Catégorie<span
                                    class=caret></span></a>
                            <ul class=dropdown-menu>
                                <li><a href=#>Fruits/légumes</a></li>
                                <li><a href=#>Arbres</a></li>
                                <li><a href=#>Techniques générales</a></li>
                                <li><a href=#>Fleurs</a></li>
                            </ul>



                        </div>
                        <div class="form-group buttonChoix">
                            <a class=dropdown-toggle data-toggle=dropdown href=#>Espèce<span class=caret></span></a>
                            <ul class=dropdown-menu>
                                <li><a href=#>Fruits/légumes</a></li>
                                <li><a href=#>Arbres</a></li>
                                <li><a href=#>Techniques générales</a></li>
                                <li><a href=#>Fleurs</a></li>
                            </ul>

                        </div>
                        <div class="form-group buttonChoix">
                            <a class=dropdown-toggle data-toggle=dropdown href=#>Type de produit<span
                                    class=caret></span></a>
                            <ul class=dropdown-menu>
                                <li><a href=#>Fruits/légumes</a></li>
                                <li><a href=#>Arbres</a></li>
                                <li><a href=#>Techniques générales</a></li>
                                <li><a href=#>Fleurs</a></li>
                            </ul>
                        </div>
                        <DIV>
                            <p>Ou</p>
                        </DIV>
                        <div class="input-group rounded">
                            <input type="search" class="form-control rounded" placeholder="Recherche par mot-clé..."
                                aria-label="Search" aria-describedby="search-addon" />
                            <span class="input-group-text border-0" id="search-addon">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"><button class="button1" style=" margin-top: 25px">VALIDER</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>


        </form>



    </div>
    <div class="col-sm-2">
        <p></p>
    </div>
    <div class="col-sm-5" style="float: left ">

        <div style="margin-top: 20px;" *ngFor='let an of response'>
            
            <div class="card  my-shadow " style="width: 100% ; margin-top: 10px; margin-bottom: 10px; ">
                <div style="background-color :#D6FF79; border-radius: 10px">
                    <p class="titreAnnonce"> Annonce {{an.idAnnonce}} - {{an.plante.prix}}pts/pièce - {{an.stock}}pièces</p>
                    <p class="categorie">
                        {{an.plante.categorie}} - {{an.plante.sousCategorie}} - {{an.type}}</p>
                    <p class="donneur">
                        {{an.user.prenom}} {{an.user.nom}} </p>
                </div>
               
                <p class="description">
                    {{an.description}}</p>
                    <div style="margin-right: 5px; margin-bottom: 8px;">
                        <button class="buttonCommander" (click)="ouvrirCommande(an)">Commander?</button>
                    </div>
                    
            </div>
           
        </div>



    </div>


</body>