.buttonCommander{
    /* Placement   
    display: block;
    margin:0 auto ;*/

    /* Style */
    float: right;
    padding: 2px 2px;
    font-size: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    color: #fff;
    background-color: #56A632;
    border: none;
    border-radius: 40px;

    box-shadow: 0 3px #999;
}
.card{
    border-radius: 10px !important;
}
.buttonCommander:hover {background-color: #3e8e41}
  
  .buttonCommander:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
  }