<app-navdoc></app-navdoc>
<div class="main">
    <div class="blocnoir">
        <div class="imagetitre"></div>
        <div class="titrepage">
            <h1>Techniques générales</h1>
            <p>Retrouvez ici l'ensemble des techniques générales de jardinage qui pourront vous servir 
                pour n'importe quelle plante du site. <br>
                Pour ajouter une nouvelle technique, cliquez sur le bouton ci-dessous.
            </p>
            <button (click)="goCreer()" class="bouton" type="button">Ajouter une nouvelle technique</button><p style="color:red;text-align:center">{{msg}}</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" *ngFor='let t of techniques'>
                <div class="card p-2 my-shadow">
                    <h4 class="titrebloc"> {{t.nom|titlecase}}</h4><hr>
                    <div class="case">
                        <p>{{t.description}}</p>
                    </div>
                    <br>
                    <button routerLink="/afficher_technique" class="button1" (click)="stock(t)">Voir plus</button>

                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button (click)="goCreer()" class="button1" type="button">Ajouter une nouvelle technique</button>
                <p style="color:red;text-align:center">{{msg}}</p>
            </div>
        </div>
    </div>
</div>