<div class="bloctexte">
    <h1 class="titrebloc">Félicitations !</h1><hr>

    <p class="texte">Vous avez obtenu un score de :</p>
        <h3 class="score">{{score}} points</h3>
        <br>

    <div class="texte">
        <a>Vous débutez au niveau </a><a class="statut">{{statut}}</a><br><br>
        <a>Vous pouvez maintenant commencez à explorer le site. 
            Participez à des évènements ou contribuez à la rédaction des fiches de plantes pour gagner des points et passer au niveau supérieur.</a><br>
        <a>Amusez-vous bien !</a>
    </div>
    <br>

    <button class="button1" (click)="renvoiAccueil()">Commencer</button>
</div>