<mat-card class="example-card" style="width: 750px;height:auto;">
    <mat-card-header style="background-color: #D6FF79;">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title > {{ titre}} </mat-card-title>

    </mat-card-header>
   
    <mat-card-content style="padding: 10px;margin-top: 50px;">
        <p>
        
        {{description}}
        </p>
        {{participants}}
    </mat-card-content>
    <mat-card-footer>

    <mat-card-actions>
        <button mat-button (click)="validation()"class="button1" type="button" style="left:40%;top:80%">Participer</button>
        
    </mat-card-actions>
</mat-card-footer>

</mat-card>
