.blocnoir {
    height:250px!important;
    background-color:black;
}

.imagetitre {
    background-image: linear-gradient(90deg, rgba(12, 54, 29, 0.9), rgba(12, 54, 29, 0.2)), url('../../assets/images/jardin.jfif');
    height:-webkit-fill-available;
    filter:brightness(80%)
}

.titrepage {
    position:relative;
    bottom: 170px;
    color:white;
    padding-left: 32px;
}

h1 {
    font-weight: 700;
    font-size: 4rem;
}

.p-2 {
    width:90% !important;
    margin:0 auto !important; 
    background-color:rgb(255, 255, 255);
    padding: 32px!important;
}

.titrebloc {
    font-size: 1.75rem;
    text-align: center;
    color:#56A632;
}

.bouton {
    /* Placement 
    display: block;
    margin:0 auto ; */ 

    /* Style */
    padding: 5px 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    color: #fff;
    background-color: #714955;
    border: none;
    border-radius: 40px;

    /* box-shadow: 0 3px #999; */
    
    

    /* box-shadow: 0 3px #999; */    

  }