

<div class="container">
    <div class="row" >
        
          
              
         
        <div class="card p-3 my-shadow" style="text-align:justify;margin:50px;width: 100%;border-radius:25px;border:solid 3px #D38B5D;">
            <div>
        <div class="col-sm-6">
            Bienvenue sur cette application de partage de plantes et de connaissances pour amateur et jardinier confirmé
            Pour pouvoir devenir un maître du jardinage tout en s'amusant, participer à la vie de la communauté vous permettra 
            de gagner des points. Ces points vous permettront d'obtenir des plantes partagées par les autres utilisateurs. Les actions qui vous rapporte des points sont : 
            <li>Donner une plante</li> 
            <li>Participer à un événement</li>
            <li>Organiser un atelier pour partager vos connaissances</li>
            <li>Participer à la vie de la communauté en postant des commentaires</li>
            <li>Modifier et créer de nouvelles fiches de plantes</li>
            La voie est longue vers le titre de maître jardinier. Vous ne pourrez pas faire tous cela dès le début
            Il vous faudra gagner des points et atteindre le grade suprême ! 
        </div>
        <div class=" col-sm-6">
            <div>
            <img src="assets/images/logo2.png" width="60" height="60" alt="" style="float: left;">
            <div style="color:#56A632">Petit pissenlit </div>Avant de devenir un grand arbre, il faut commencer par pousser. Vous pouvez obtenir des plantes et participer à un évenement.
            </div>
            <div>
                <img src="assets/images/logo2.png" width="60" height="60" alt="" style="float: left;">
            <div style="color:#56A632">Primevère hivernale</div>L'hiver est passé, vous pouvez maintenant modifier des fiches plantes en plus.
            </div>
            <div>
            <img src="assets/images/logo2.png" width="60" height="60" alt="" style="float: left;"> 
            <div style="color:#56A632">Buisson ardent </div> S'accrocher, c'est la clé. Vous ne pouvez pas faire de nouvelles choses mais progressez.
            </div>
            <div>
            <img src="assets/images/logo2.png" width="60" height="60" alt="" style="float: left;">
            <div style="color:#56A632">Grand chêne </div> La patience est une vertu. Vous pouvez faire plus de choses.
            </div>
            <img src="assets/images/logo2.png" width="60" height="60" alt="" style="float: left;">
            <div style="color: #56A632">Olivier centenaire</div>
            <p> Grand maître du jardinage, tu peux partager tous ton savoir avec la communauté.</p>
        </div>
        </div>
        
        </div>
          
   <div class="col-sm-4">
     <div class="card p-3 my-shadow" style="text-align: center;">
        <div *ngFor='let m of liste'>
            <div class="card p-2 my-shadow">
             <p>{{m.titre}}</p>
             <p>{{m.description}}</p>
            </div>
        </div>
    
    </div>   
   </div>
   <div class="col-sm-4">
        <div class="card p-3 my-shadow" style="text-align: center;">
            <div *ngFor='let a of listeA'>
                <div class="card p-2 my-shadow">
                 <p>{{a.type}}</p>
                 <p>{{a.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card p-3 my-shadow" style="text-align: center;">
            <div *ngFor='let p of listeP'>
                <div class="card p-2 my-shadow">
                 <p>{{p.espece}}</p>
                 <p>{{p.description}}</p>
                </div>
            </div>
        </div>
    </div>
  
    </div>
    </div>