<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
 
    </mat-card-header>
    <mat-card-content>
        <p style="text-align:center ;">
        Etes-vous sûr de vouloir participer à cette évenement ?
        </p>
        
    </mat-card-content>
    <div>
    <mat-card-actions>
        <button mat-button (click)="miseAjour()" class="button1" style="display: inline-block !important;margin: 10px;">Je veux participer ! </button>
        <button mat-button (click)="fermeture()" class="button1" style="display: inline-block !important;">Retour</button>
    </mat-card-actions>
</div>
</mat-card>
