<div id="listequestions" class="container mt-5">

   <form #fConnect="ngForm" (ngSubmit)="calculscore(fConnect.value)">

    <!------------------------------------------------------------------------------------------------------->
    <!-- LISTE DE QUESTIONS -->

    <p class="titreq">Qu'est-ce qu'un gourmand ?</p>
    <mat-radio-group class="radio-group" name="score1" ngModel="">
      <mat-radio-button class="radio-button" *ngFor="let q of question1" [value]="q.score">
        {{q.contenu}}
      </mat-radio-button>
    </mat-radio-group>

    <p class="titreq">Une plante remontante…</p>
    <mat-radio-group class="radio-group" name="score2" ngModel="">
      <mat-radio-button class="radio-button" *ngFor="let q of question2" [value]="q.score">
        {{q.contenu}}
      </mat-radio-button>
    </mat-radio-group>

    <p class="titreq">Que veut dire praliner une plante?</p>
    <mat-radio-group class="radio-group" name="score3" ngModel="">
      <mat-radio-button class="radio-button" *ngFor="let q of question3" [value]="q.score">
        {{q.contenu}}
      </mat-radio-button>
    </mat-radio-group>

    <!------------------------------------------------------------------------------------------------------->
    <!-- BOUTON VALIDER -->
    <button type="submit" class="button1">Confirmer</button>

  </form>
</div>