<div id="listequestions">

<!-- QUESTION 1-->
<div id="question1">
    <p>Qu'est-ce qu'un gourmand ?</p>

<!-- Default radio -->
<div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault1"
    />
    <label class="form-check-label" for="flexRadioDefault1"> Un insecte qui s'attaque aux arbres fruitiers</label>
  </div>
  
  <!-- Default checked radio -->
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault2"
    />
    <label class="form-check-label" for="flexRadioDefault2"> Une branche secondaire qui se développe sur la branche principale d'une plante </label>
  </div>

  <!-- Default radio -->
    <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault1"
    />
    <label class="form-check-label" for="flexRadioDefault1"> Une mauvaise herbe qui pousse aux pieds d'une plante</label>
  </div>
  
</div>

</div>