

<app-navbar></app-navbar>
<body>
    <div class="row">
    <div class="col-sm-5" style="  justify-content: center">
            <div class="col-sm-4"></div>
            <button routerLink="/formulaireEvent" class="button1" type="button">Créer un évenement</button>
        



        <form>
            <div class=" justify-content: center" style="margin-top: 25px">
                <div style="width: 100%;">

                    <form #fConnect="ngForm" (ngSubmit)="chercheVille(fConnect.value)">

                        <div class="input-group rounded">
                            <input type="search" class="form-control rounded" placeholder="Recherche par ville..."
                                aria-label="Search" aria-describedby="search-addon" name="ville" ngModel="">
                            <span class="input-group-text border-0" id="search-addon">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"><button type="submit" class="button1" >VALIDER</button></div>
                        </div>
                    </form>

                </div>
            </div>


        </form>
       
    </div>
    <div class="col-sm-7" style="  justify-content: center">
        <div style="text-align: center;margin: 30px;" >
            <h1>Les évévenements à venir</h1>
        </div>
        <div style="margin: 10px;"*ngFor='let m of response'>
    
         <div class="card p-2 my-shadow">
             <div class="card-header">
                <p style="text-align: left;">{{m.titre}}</p>
             </div>
             <div class="card-body">
                <p>{{m.description}}</p>
             </div>
        <div>
            <button class="button1" (click)="ouvreDetails(m)">Détails</button>
        </div>
    </div>
    </div>
    
    </div>
    </div>

</body>