

<app-navbar></app-navbar>
<body>
    <div class="row">
    <div class="col-sm-5" style="  justify-content: center">
            <div class="col-sm-4"></div>
            <button routerLink="/formulaireEvent" class="button1" type="button">Créer un évenement</button>
        



        <form>
            <div class=" justify-content: center" style="margin-top: 25px">
                <div style="width: 100%;">

                    <form>
                        <div class="form-group buttonChoix">
                            <a class=dropdown-toggle data-toggle=dropdown href=#>Catégorie<span class=caret></span></a>
                            <ul class=dropdown-menu>
                                <li><a href=#>Fruits/légumes</a></li>
                                <li><a href=#>Arbres</a></li>
                                <li><a href=#>Techniques générales</a></li>
                                <li><a href=#>Fleurs</a></li>
                            </ul>
                        </div>
                        <div class="form-group buttonChoix">
                            <a class= dropdown-toggle data-toggle=dropdown href=#>Sous-Catégorie<span
                                    class=caret></span></a>
                            <ul class=dropdown-menu>
                                <li><a href=#>Fruits/légumes</a></li>
                                <li><a href=#>Arbres</a></li>
                                <li><a href=#>Techniques générales</a></li>
                                <li><a href=#>Fleurs</a></li>
                            </ul>



                        </div>
                        <div class="form-group buttonChoix">
                            <a class= dropdown-toggle data-toggle=dropdown href=#>Espèce<span
                                    class=caret></span></a>
                            <ul class=dropdown-menu>
                                <li><a href=#>Fruits/légumes</a></li>
                                <li><a href=#>Arbres</a></li>
                                <li><a href=#>Techniques générales</a></li>
                                <li><a href=#>Fleurs</a></li>
                            </ul>

                        </div>
                        <div class="form-group buttonchoix">
                            <a class= dropdown-toggle data-toggle=dropdown href=#>Type de produit<span
                                    class=caret></span></a>
                            <ul class=dropdown-menu>
                                <li><a href=#>Fruits/légumes</a></li>
                                <li><a href=#>Arbres</a></li>
                                <li><a href=#>Techniques générales</a></li>
                                <li><a href=#>Fleurs</a></li>
                            </ul>
                        </div>
                        <DIV>
                            <p>Ou</p>
                        </DIV>
                        <div class="input-group rounded">
                            <input type="search" class="form-control rounded" placeholder="Recherche par mot-clé..."
                                aria-label="Search" aria-describedby="search-addon" />
                            <span class="input-group-text border-0" id="search-addon">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"><button class="button1">VALIDER</button></div>
                        </div>
                    </form>

                </div>
            </div>


        </form>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11376667.86366505!2d-6.933116160860657!3d45.881176111522066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54a02933785731%3A0x6bfd3f96c747d9f7!2sFrance!5e0!3m2!1sfr!2sfr!4v1635933307199!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
    </div>
    <div class="col-sm-7" style="  justify-content: center">
        <div style="text-align: center;margin: 30px;" >
            <h1>Les évévenements à venir</h1>
        </div>
        <div style="margin: 10px;"*ngFor='let m of response'>
    
         <div class="card p-2 my-shadow">
             <div class="card-header">
                <p style="text-align: left;">{{m.titre}}</p>
             </div>
             <div class="card-body">
                <p>{{m.description}}</p>
             </div>
        <div>
            <button class="button1" (click)="ouvreDetails(m)">Détails</button>
        </div>
    </div>
    </div>
    
    </div>
    </div>

</body>